@import variables
@import utilities/design

html
  overflow-y: scroll
  width: 100%
  height: 100%
  // Fixes a few browser bugs related to font-size scaling
  font-size: 100.01%
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  // Prevent mobile browsers from adjusting font size
  -webkit-text-size-adjust: none
  -ms-text-size-adjust: none

  @media only screen and (min-width: $media_netbook)
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

body
  height: 100%
  margin: 0
  background-color: $white

  /*
   * Sans-serif is the most legible font family on screen.
   * We just really need to decide which specific font stack to go with.
   *
   * TODO: abstract these out into font @mixins

  // font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
  font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif
  // font-family: Tahoma, Geneva, Verdana, sans-serif
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  // font-family: Verdana, Geneva, Tahoma, sans-serif

  font-size: $base_font_size
  line-height: $base_line_height
  color: $body_text_color

#wrapper
  @include centered

// http://unstoppablerobotninja.com/entry/fluid-images/
img, object
  max-width: 100%

// Better Image Scaling for IE7+
.ie
  img
    -ms-interpolation-mode: bicubic
