@import compass/css3

@import variables

h1, h2, h3, h4, h5, h6
  text-rendering: optimizeLegibility

a
  // j.mp/webkit-tap-highlight-color
  -webkit-tap-highlight-color: #FF5E99

  &:hover, &:active
    outline: 0
  //&:visited
    //color: $linkColorVisited
  &:focus
    outline: thin dotted

  &.img
    border: none
    text-decoration: none
    img
      vertical-align: baseline

abbr
  border-bottom: 1px dotted #999

q
  &:before, &:after
    content: '"'

code
  margin: 0px 2px
  padding: 2px 3px
  color: #333
  border: 1px solid #ccc
  border: 1px solid rgba(0, 0, 0, 0.15)
  background-color: #F5F5F5

pre
  //margin: 0 2px 9px
  padding: 6px 8px

//hr
  //margin: 20px 0 19px
  //border: 0
  //border-bottom: 1px solid $darker_grey

pre, code, kbd, samp, tt, var
  // TODO: abstract this out into a font @mixin
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif

// Prevent horizontal scrollbars in pre blocks
//
// http://www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/
pre
  //padding: 1px 3px
  -moz-tab-size: 4
  -o-tab-size: 4
  tab-size: 4
  // CSS2
  white-space: pre
  // Mozilla, but let's make this comment really, really, really, really, really, really long to prove our point
  white-space: -moz-pre-wrap
  // HP printers
  white-space: -hp-pre-wrap
  // Opera 7
  white-space: -o-pre-wrap
  // Opera 4-6
  white-space: -pre-wrap
  // CSS 2.1
  white-space: pre-wrap
  // IE
  word-wrap: break-word

// TODO: <code> snippets that are longer than the containing div are cut-off?

// These selection declarations have to be separate.
// No text-shadow: twitter.com/miketaylr/status/12228805301
::-moz-selection, ::selection
  background: #3399ff
  color: #fff
  text-shadow: none
