
// Black to White

$black: #000
$darker_grey: lighten($black, 20%)
$dark_grey: lighten($black, 50%)
$grey: lighten($black, 75%)
$light_grey: lighten($black, 90%)
$lighter_grey: lighten($black, 95%)
$white: #FFF

// Pleasant default colors

$red: #9D261D
$orange: #F89406
$yellow: #FFC40D
$green: #46A546
$blue: #049CDB
$dark_blue: #0064CD
$pink: #C3325F
$purple: #7A43B6

$link_blue: #0069D6
$link_blue_hover: darken($link_blue, 15%)
$link_blue_visited: lighten($link_blue, 15%)

$header_text_color: $darker_grey
$body_text_color: #333
$muted_text_color: #666

$base_font_size: 16px
/* http://meyerweb.com/eric/thoughts/2006/02/08/unitless-line-heights/
$base_line_height: 1.5
$base_header_line_height: 1.1

// Media query minimum widths
// TODO: these can't be used as part of an @media line until SASS 3.2
// For now, copy/pasting from here (ugly)

$media_mobile_portrait: 320px
$media_mobile_landscape: 480px
$media_tablet_portrait: 768px
// This also could technically be media_tablet_landscape:
$media_netbook: 960px
$media_widescreen: 1280px
